<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.min.css' />
<sc<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.3/fullcalendar.min.js'></script>

<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
<script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/dark-hive/jquery-ui.css">

<style>

	body {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#calendar {
		max-width: 500px;
		margin: 0 auto;
	}

</style>
  <div class="panel panel-info">
    <div class="panel-heading">
		<h1>Bookings</h1>
	</div>
  </div>
  <%= link_to 'Add booking', new_book_booking_path(@book), class:"btn btn-success" , method: :get%>
<div class="row" >
	<div class="col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-body">
				<div id='calendar' ></div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
			<div class="panel panel-primary">
				<div class="panel-body">
					<table border="0" style="width:100%">
					    <tr>
					        <th rowspan="6"><%= image_tag @book.book_image.medium.url %>
					    </tr>
					    <tr><td>ISBN : <%= @book.book_isbn %></td></tr>
					    <tr><td>Title : <%= @book.book_title %></td></tr>
					    <tr><td>Author : <%= @book.book_author %></td></tr>
					    <tr><td>Status : <%= @book.book_status %></td></tr>
					    <tr><td>Edition : <%= @book.book_edition %></td></tr>
					</table>
				</div>
			</div>
	</div>
</div>
<%= link_to 'Back' , books_path(@books), class:"btn btn-info" , method: :get%><br>
    
    

<script >
			$(document).ready(function() {

		    // page is now ready, initialize the calendar...

		    $('#calendar').fullCalendar({
		    	default: false,
		        events: [

		            <% @booking.each do |booking| %>
		            	<% @booking1 = Booking.where(["status LIKE ? and id LIKE ?","booking","#{booking.id}"]) %>
		            	<% @booking1.each do |bookingC| %>
		            		{	
		            		    title  : '<%= bookingC.status %>',
		            		    start  : '<%= bookingC.booking_date_start %>',
		            		    end    : '<%= bookingC.booking_date_end %>',
		            			color  : '#ff9900'
		            		},
		            	<%end%>
		            	<% @booking2 = Booking.where(["status LIKE ? and id LIKE ?","borrow","#{booking.id}"]) %>
		            	<% @booking2.each do |bookingC| %>
		            		{	
		            		    title  : '<%= bookingC.status %>',
		            		    start  : '<%= bookingC.booking_date_start %>',
		            		    end    : '<%= bookingC.booking_date_end %>',
		            			color  : '#0066ff'
		            		},
		            	<%end%>
		            	<% @booking3 = Booking.where(["status LIKE ? and id LIKE ?","return","#{booking.id}"]) %>
		            	<% @booking3.each do |bookingC| %>
		            		{	
		            		    title  : '<%= bookingC.status %>',
		            		    start  : '<%= bookingC.booking_date_start %>',
		            		    end    : '<%= bookingC.booking_date_return %>',
		            			color  : '#00cc00'
		            		},
		            	<%end%>
		            <%end%>
		        ]
		    });

		});	
		</script>