  <script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>

<%= form_for([@book, @book.bookings.build]) do |f| %>
  <p>
    <%= f.label :booking_date_start %><br>
    <%= f.text_field :booking_date_start, required: "required", :placeholder => "YYYY-MM-DD", class: "" %>
    <%= f.hidden_field :booking_date_end, value: ""  %> 
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>