  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/dark-hive/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_for([@book, @book.bookings.build]) do |f| %>
        <p>
          Today <strong><%= Time.now.strftime("%Y-%m-%d") %></strong> <br>
          <br>
          <strong>Booking date</strong> <br>
          <%= f.text_field :booking_date_start, required: "required", :placeholder => "YYYY-MM-DD", id: "dateStart" %>
          <%= f.hidden_field :booking_date_end, id: "dateEnd"  %> 
        </p>
        <p>
          <%= f.submit %>
        </p>
      <% end %>    
    </div>
  </div>

<script>

  $(function() {
$( "#dateStart" ).datepicker({
      //defaultDate: "+1w",
      minDate:1,
      dateFormat: "yy-mm-dd",
      changeMonth: true,
      numberOfMonths: 2,
      onSelect: function( selectedDate ) {
        $( "#dateReturn" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    
  });

  </script>

<script type="text/javascript">
function getdate() {
    var tt =  document.getElementById('dateStart').value;

    var date = new Date(tt);
    var newdate = new Date(date);

    newdate.setDate(newdate.getDate() + 7);
    
    var dd = newdate.getDate();
    var mm = newdate.getMonth() + 1;
    var y = newdate.getFullYear();

    var someFormattedDate = y + '-' + mm + '-' + dd;
    var x=new Date(someFormattedDate).toISOString().split('T')[0];
    document.getElementById('dateEnd').value = x;
}
</script>