
<%= form_for @user do |f| %>
  <div class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    </div>
  <% end %>



  <div class="panel panel-primary">
          <div class="panel-heading">
              <h3>Edit</h3>
          </div>    
          <div class="panel-body">
              <div class="row">
                  <div class="col-lg-12">
                      <form role="form">
                          <div class="form-group">
                              <div class="col-lg-3">
                              <label>User IC</label>
                              </div>
                              <div class="col-lg-8">
                              <%= f.text_field :user_ic , class: "form-control", required: "required" %>
                              <p class="help-block"></p></div>
                          </div>
                          <div class="form-group">
                          <div class="col-lg-3">
                              <label>User Name</label></div>
                              <div class="col-lg-8">
                              <%= f.text_field :user_name , class: "form-control", required: "required" %>
                              <p class="help-block"></p></div>
                          </div>
                          <div class="form-group">
                          <div class="col-lg-3">
                              <label>User Email</label></div>
                              <div class="col-lg-8">
                              <%= f.text_field :user_email , class: "form-control", required: "required" %>
                              <p class="help-block"></p></div>
                          </div>
                          <div class="form-group">
                          <div class="col-lg-3">
                              <label>Password</label></div>
                              <div class="col-lg-8">
                              <%= f.text_field :password , class: "form-control", required: "required", type:"password" %>
                              <p class="help-block"></p></div>
                          </div>
                          <div class="form-group">
                          <div class="col-lg-3">
                              <label>Password Confirmation</label></div>
                              <div class="col-lg-8">
                              <%= f.text_field :password_confirmation , class: "form-control", required: "required", type:"password" %>
                              <p class="help-block"></p></div>
                          </div>
                          <div class="form-group">
                          <div class="col-lg-3">
                              <label>User Type</label></div>
                              <div class="col-lg-8">
                              <%= f.select(:user_level, options_for_select(["student","staff"]), {}, {class: "form-control", required: "required"}) %>
                              <p class="help-block"></p>
                              </div>
                          </div>

                          <div class="form-group">
                          <div class="col-lg-3">
                              <label>User Address</label></div>
                              <div class="col-lg-8">
                              <%= f.text_field :user_address , class: "form-control", required: "required" %>
                              <p class="help-block"></p></div>
                          </div>
                          <div class="form-group">
                          <div class="col-lg-3">
                              <label>User Contact</label></div>
                              <div class="col-lg-8">
                              <%= f.text_field :user_contact , class: "form-control", required: "required" %>
                              <p class="help-block"></p></div>
                          </div>
                          <div class="form-group">
                          <div class="col-lg-5">
                            <%= f.submit "Submit", class: "btn btn-success" %>
                            
                          </div>
                          </div>
                      </form>
                  </div>
                  <!-- /.col-lg-6 (nested) -->
                 
              </div>
              <!-- /.row (nested) -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
<% end %>