  <div class="panel panel-default">
    <div class="panel-body">
    	<br>ic: <%= @user.user_ic %>
    	<br>name: <%= @user.user_name %>
    	<br>email: <%= @user.user_email %>
    	<br>level: <%= @user.user_level %>
    	<br>address: <%= @user.user_address %>
    	<br>contact: <%= @user.user_contact %>

    	<br><%= link_to 'Edit', edit_user_path(@user) %>
    	<br><%= link_to 'Back', users_path %>
    </div>
  </div>