  <div class="panel panel-success">
    <div class="panel-heading"><h1>Library Management</h1></div>
    <div class="panel-body">
    <h3>Find users</h3>
    <%= form_tag librarians_index_path, :method => 'get' do%>
      IC :<%= text_field_tag :searchStu, params[:searchStu]%>
      <%= submit_tag "Search"%>
    <% end %>
    <table class="table">
      <tr>
        <th>IC</th>
        <th>Name</th>
        <th>Email</th>
        <th>Level</th>
        <th>Contact Number</th>
        <th></th>
      </tr>
     

      <% @users.each do |user| %>
        <tr>
          <td><%= user.user_ic %></td>
          <td><%= user.user_name %></td>
          <td><%= user.user_email %></td>
          <td><%= user.user_level %></td>
          <td><%= user.user_contact %></td>

          <td><%= link_to 'View', librarian_path(user), class: "btn btn-warning" %></td>

        </tr>
      <% end %>
    </table>
    </div>
  </div>
