<br>Today <%= Time.now.strftime("%Y-%m-%d") %>
<br>
<br><%= @user.user_ic %>
<br><%= @user.user_name %>
<br><%= @user.user_email %>
<br><%= @user.user_level %>
<br><%= @user.user_address %>
<br><%= @user.user_contact %>
<br><%= @user.user_contact %>
<br>
//////////////////////////////////////////////////////////////
BOOKING
<table class="table">
<% @booking.each do |booking| %>
<tr>
<td>booking date : <%= booking.booking_date_start %></td>
<td>end date : <%= booking.booking_date_end %></td>
</tr>
<tr>
<td>
<% @book = Book.where(["id LIKE ?","#{booking.book_id}"]) %>
<% @book.each do |book| %>
    
      <br>ISBN : <%= book.book_isbn %>
      <br>Title : <%= book.book_title %>
      <br>Author : <%= book.book_author %>
      <br>Status : <%= book.book_status %>
      <br>Edition : <%= book.book_edition %>
      <br>Image : <%= book.book_image %>
    
<% end %>  
<br><%= link_to 'borrow', librarians_borrow_path(@user.id,booking_id: "#{booking.id}")%>
</td>
<td></td>
</tr>
<% end %>
</table>
/////////////////////////////////////////////////////////////
BORROW
<table class="table">
<% @borrow.each do |booking| %>
<tr>
<td>borrow date : <%= booking.booking_date_start %></td>
<td>end date : <%= booking.booking_date_end %></td>
</tr>
<tr>
<td>
<% @book = Book.where(["id LIKE ?","#{booking.book_id}"]) %>
<% @book.each do |book| %>
    
      <br>ISBN : <%= book.book_isbn %>
      <br>Title : <%= book.book_title %>
      <br>Author : <%= book.book_author %>
      <br>Status : <%= book.book_status %>
      <br>Edition : <%= book.book_edition %>
      <br>Image : <%= book.book_image %>
    
<% end %>  
<br><%= link_to 'return', librarians_return_path(@user.id,booking_id: "#{booking.id}")%>
</td>
<td></td>
</tr>
<% end %>
</table>
/////////////////////////////////////////////////////////////
Fines
<table class="table">
<% @fineB.each do |booking| %>
<tr>
<td>borrow date : <%= booking.booking_date_start %></td>
<td>end date : <%= booking.booking_date_end %></td>
<td>return date : <%= booking.booking_date_return %></td>
</tr>
<tr>
<% sql = "SELECT datediff('#{booking.booking_date_return}','#{booking.booking_date_end}' ) AS DAY;"
    checkDate = ActiveRecord::Base.connection.select_value(sql) %>
<td>Late <%= "#{chectDate}"%> day * RM 0.5</td>
<td>Total RM <%= "#{@fine.fines_amount}"%></td>
</tr>
<tr>
<td>
<% @book = Book.where(["id LIKE ?","#{booking.book_id}"]) %>
<% @book.each do |book| %>
    
      <br>ISBN : <%= book.book_isbn %>
      <br>Title : <%= book.book_title %>
      <br>Author : <%= book.book_author %>
      <br>Status : <%= book.book_status %>
      <br>Edition : <%= book.book_edition %>
      <br>Image : <%= book.book_image %>
    
<% end %>  
<br><%= link_to 'return', librarians_return_path(@user.id,booking_id: "#{booking.id}")%>
</td>
<td></td>
</tr>
<% end %>
</table>
<br>

<%= link_to 'pay'%>