<!DOCTYPE html>
<html>
<head>
  <title>RubySource User Auth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Header -->
	 <nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Library</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <%unless session[:user_id]%>
	      	
	      		<li><%= link_to :Profile , :profile, class: "nav_links" %> </li>
	      		<li><%= link_to :Setting , :setting, class: "nav_links" %> </li>
	      	
	      <%else%>
	      	
	      		<li><%= link_to :Home , :home, class: "nav_links" %> </li>
	      		<li><%= link_to :Profile , :profile, class: "nav_links" %> </li>
	      		<li><%= link_to :Setting , :setting, class: "nav_links" %> </li>	
	      	
	      <%end%>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<%unless session[:user_id]%>
	    		<li><%= link_to " SignUp" , :signup, class: "glyphicon glyphicon-user"%></li>
	    		<li><%= link_to " LogIn" , :login, class: "glyphicon glyphicon-log-in"%></li>
	    	<%else%>
	    		<li><a href="#"><span class="glyphicon glyphicon-user"></span>Welcome <%=@current_user.user_name%></a></li>
	    		<li><%= link_to " LogOut" , :logout, class: "glyphicon glyphicon-log-out" %></li>
	    	<%end%>
	    </ul>
	  </div>
	</nav>

	<% if flash[:color]== "valid" %>
		<div class="panel panel-success">
			<div class="panel-heading">
			<p align="center"><%= flash[:notice]%></p>
			</div>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="panel panel-danger">
			<div class="panel-heading">
			<p align="center"><%=flash[:notice]%></p>
			</div>
		</div>
	<%else%>
		<div class="notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%end%>
<%= yield %>

</body>
</html>
